:root {
  --primary: #fff;
  --nav-banner: #3e3e3e;
  --nav-text-hover: #f07f7e;
  --nav-text-active: #ec6361;
  --nav-text-color: #868686;
  --hero-text-color: #515151;
  --hero-date-color: #595959;
  --program-section: #282b32;
  --program-section-card-bg-color: rgb(59, 62, 69, 0.5);
  --program-section-card-title: #ff5438;
  --pioneers-section-bg-color: #f8f8f8;
  --pioneer-profile-text-color: #f78c89;
  --sponsors-section-bg-color: #414246;
  --footer-bg-color: #f2f2f2;
  --button-bg-color: #05aae1;
}

body {
  width: 100vw;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.underline {
  width: 35px;
  height: 2px;
  margin: unset;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  z-index: 1000;
}

.nav-brand {
  max-height: 45px;
  max-width: 115px;
}

.nav-items .nav-link {
  color: var(--nav-text-color);
}

.nav-items .nav-link:hover {
  color: var(--nav-text-hover);
}

.nav-items .nav-link.active {
  color: var(--nav-text-active);
}

.nav-items .nav-link.cc-campaign {
  color: #ec4327;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 5px solid #ec4327;
  padding: 0.5rem 0.25rem  0.5rem 0.25rem;
}

.navbar-container {
  background-color: var(--primary);
  position: fixed;
  width: 100vw;
}

/* desktop view */
@media (width > 768px) {
  h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    z-index: 3;
    color: #ec4327;
  }

  #navbrand {
    width: 130px;
    height: 51px;
  }

  .screen-width {
    width: 80vw;
    margin: auto;
    position: relative;
  }

  header > #nav-banner {
    height: 30px;
    background-color: var(--nav-banner);
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    padding-top: 5px;
  }

  header .nav-banner-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    font-size: 12px;
    color: var(--primary);
    align-items: center;
    flex-shrink: 0;
  }

  header .nav-banner-list ul li a {
    color: var(--primary);
  }

  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 75px;
    z-index: 1000;
  }

  header .navbar .nav-items {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  header .navbar .hamburger-btn {
    display: none;
  }

  /* headline */
  .headline {
    display: inline-flex;
    width: 100%;
    min-height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
    background-size: cover;
    position: relative;
    padding-top: 6rem;
    margin-top: 3rem;
  }

  .headline .overlay {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .headline .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 76%;
    margin: auto;
    z-index: 1;
  }

  .headline .hero-content .about-text {
    background-color: var(--primary);
    padding: 25px 55px 25px 55px;
  }

  .headline .about-text p {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .headline .hero-content div p {
    text-align: center;
  }

  .headline .contact a {
    color: #5f5f5f;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;
  }

  /* logo info */
  .logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 3rem 1rem 3rem 1rem;
  }

  .logo-info .logo-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 76%;
    margin: auto;
  }

  .logo-info .logo-info-content h2 {
    color: #2c2c2c;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.9px;
    text-align: center;
  }

  .logo-info .logo-info-content .logo-description {
    color: #838383;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.48px;
  }

  .logo-info .logo-info-content .hackathon-logo {
    height: 195px;
    width: 542px;
  }

  /* Previous summit */
  .previous-summit {
    display: flex;
    height: 508px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  #previous-summit-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .previous-summit .previous-summit-inner {
    padding: 3rem 2rem 3rem 2rem;
  }

  .previous-summit .previous-summit-inner .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    color: #2c2c2c;
  }

  .previous-summit .previous-summit-inner .sub-title {
    font-size: 16px;
    color: #838383;
    text-align: center;
    font-weight: 700;
    line-height: 21px;
    font-style: normal;
  }

  .previous-summit .previous-summit-inner .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .gallery div figcaption {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    z-index: 101;
    font-size: 17px;
    font-weight: 900;
    color: var(--primary);
  }

  .gallery .date {
    font-size: 30px;
    text-align: center;
  }

  .gallery div img {
    width: 100%;
  }

  .gallery .each-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: unset;
  }

  .gallery .gallery-overlay {
    background-color: rgb(236, 67, 39, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  /* SPONSORS ECTION */
  #sponsors-section {
    display: none;
  }

  footer {
    height: 245px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
  }

  footer .credit {
    display: inline-flex;
    padding: 35px 120px;
    justify-content: center;
    align-items: center;
  }

  .credit.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #footer-logo-desktop {
    width: 200px;
    height: 81px;
  }

  #footer-logo-mobile {
    display: none;
  }

  .credit.container .title {
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.14px;
  }
}

/* PIONEERS SECTION */
@media (width < 768px) {
  #nav-banner {
    display: none;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
    color: #ec4a2d;
    z-index: 3;
    text-align: center;
  }

  .navbar {
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20%;
  }

  #navbrand {
    width: 120px;
    height: 45px;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgb(27, 1, 23);
    z-index: 100;
    visibility: hidden;
  }

  .nav-items li a {
    padding-top: 0.5rem;
    font-size: 25px;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }

  .header-nav-active {
    visibility: visible;
  }

  .hamburger-btn {
    background: none;
    border: none;
    border-style: none;
    padding: 1rem;
    padding-right: 6%;
    cursor: pointer;
    z-index: 101;
    display: block;
    display: flex;
    align-self: center;
  }

  .header-toggle {
    width: 31px;
    height: 23px;
  }

  .header-list {
    padding: 32px 16px;
    display: grid;
    gap: 14px;
  }

  .header-list-item {
    font-size: 32px;
    color: white;
    font-weight: 600;
  }

  .headline {
    display: inline-flex;
    width: 100%;
    min-height: 451px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
    background-size: cover;
    position: relative;
    padding-top: 25%;
  }

  .headline .overlay {
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.95);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
    z-index: 2;
  }

  .hero-content .about-text {
    background-color: var(--primary);
    padding: 1rem;
    z-index: 2;
  }

  .about-text p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .hero-content div p {
    text-align: center;
  }

  .contact {
    z-index: 2;
  }

  .contact .contact-inner {
    color: #7a7a7a;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    width: 80%;
    margin: auto;
  }

  .contact #contact-email {
    color: #5f5f5f;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.34px;
    text-decoration-line: underline;
  }

  /* logo info */
  .logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .logo-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 80%;
    margin: auto;
  }

  .logo-info-content h2 {
    color: #2c2c2c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.9px;
    text-align: center;
    padding: 1rem 0 1rem 0;
    width: 80%;
  }

  .logo-info-content .logo-description {
    color: #838383;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.48px;
  }

  .logo-info-content .hackathon-logo {
    height: 120px;
    max-width: 370px;
  }

  /* Previous summit */
  .previous-summit {
    display: flex;
    min-height: 348px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 35px;
  }

  .previous-summit-inner {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  #previous-summit-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  #previous-summit-header .title {
    color: #2c2c2c;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: center;
  }

  #previous-summit-header .sub-title {
    color: #838383;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.36px;
  }

  .previous-summit-inner .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .gallery div figcaption {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    z-index: 101;
    font-size: 17px;
    font-weight: 900;
    color: var(--primary);
  }

  .date {
    font-size: 30px;
    text-align: center;
  }

  .gallery .each-image-single {
    width: 100%;
    padding: unset;
  }

  .gallery .each-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: unset;
  }

  .gallery .gallery-overlay {
    background-color: rgb(236, 67, 39, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    padding: unset;
  }

  /* SPONSORS ECTION */
  .sponsors-section {
    padding: 1.5rem 0 1.5em 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sponsors-section-bg-color);
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .sponsors-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .sponsors-section-title {
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .sponsors img {
    width: 82px;
    height: 31px;
  }

  footer {
    background-color: var(--primary);
    display: flex;
    align-items: center;
  }

  footer .credit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
  }

  .credit.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #footer-logo-desktop {
    display: none;
  }

  #footer-logo-mobile {
    width: 135px;
    height: 31px;
  }

  .credit.container h4 {
    color: #3b3e45;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.078px;
    letter-spacing: -0.1px;
  }
}
