:root {
    --primary:#ffffff;
    --nav-banner:#3E3E3E;
    --nav-text-hover:#F07F7E;
    --nav-text-active:#ec6361;
    --nav-text-color:#868686;
    --hero-text-color:#515151;
    --hero-date-color:#595959;
    --program-section:#282B32;
    --program-section-card-bg-color:rgb(59, 62, 69,0.5);
    --program-section-card-title:#FF5438;
    --pioneers-section-bg-color:#F8F8F8;
    --pioneer-profile-text-color:#F78C89;
    --sponsors-section-bg-color:#414246;
    --footer-bg-color:#F2F2F2;
    --button-bg-color:#05aae1

    }

    body {
        width: 100vw;
        font-family: Lato;
    }
    
    
    * {
        box-sizing: border-box;
        padding: 0px;
        border: 1px solid red ;
    }

    li{
        list-style: none;
    }

    a {
        text-decoration: none;
    }
    

    header > #nav-banner{
        height: 30px;
        background-color: var(--nav-banner);
    }
    

    .nav-brand {
        max-height: 45px;
        max-width: 115px;
    }

    /* .nav-items {
        display: flex;
        flex-shrink: 2;
        gap: 0% 20px;
        justify-content: space-between;
    } */


    .nav-items .nav-link {
        color: var(--nav-text-color);
       
    }

    .nav-items .nav-link:hover {
        color: var(--nav-text-hover);
    }

    .nav-items .nav-link:active {
        color: var(--nav-text-active) ;
    }

    .nav-items .nav-link.cc-campaign {
        color: #EC4327;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        border: 5px solid #EC4327;
        padding: 0.5rem 0.25rem  0.5rem 0.25rem;
    }






    .nav-banner-list ul  {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:20px;
        font-size: 12px;
        color: var(--primary);
        align-items: center; 
        flex-shrink:0;
    }

    .nav-banner-list ul li a{
        color: var(--primary);
    }

    .navbar-container {
        background-color: var(--primary);

    }

    
    /* desktop view */

    @media(width > 768px){
        h1 {
            text-align: center;
            font-size: 70px;
            font-weight: 900; 
            background-image: url("/assets/photos/text.jpg");
            background-position:center;
            background-clip: text;
            -webkit-background-clip:text;
            background-size: cover;
            color: transparent;
        }

        .screen-width {
            width: 80vw;
            margin: auto;
            position: relative;
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content:space-between;
            align-self: stretch;
            flex-shrink: 0;
            height: 75px;
            position: relative;
    
          }
    
          .navbar .nav-items {
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap:15px;
          }
        .navbar .hamburger-btn {
            display: none;
          }


          /* MAIN section */
          /* headline*/

          .headline {
            display: inline-flex;
            width: 100%;
            min-height: 700px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
            background-size: cover;
            position: relative;
          }

          .headline .overlay {
            top: 0;
            left: 0;
            right: 0;
            background-color:rgb(255, 255, 255,0.9);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
        }

          .hero-content {
            /* padding-top: 6rem;
            padding-bottom: 4rem; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            width: 76%;
            margin: auto;
            z-index: 1;
            
 
          }

          .hero-content .about-text {
            background-color: var(--primary);
            padding:25px 55px 25px 55px
          }

          .about-text p {
            color: #000;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
          }

          .hero-content div p {
            text-align: center;
          }

          .contact a{
            color: #5F5F5F;
            text-align: center;
            font-size: 17px;
            font-style: normal;
            font-weight: 800;
            line-height: 25px;
            letter-spacing: 0.34px;
            text-decoration-line: underline;
          }


          /* logo info */
          .logo-info {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            gap: 10px;
            padding: 3rem 1rem 3rem 1rem;
          }

          .logo-info-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
            width: 76%;
            margin: auto;
          }

          .logo-info-content h2 {
            color: #2C2C2C;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.9px;
            text-align: center;
          }

          .logo-info-content p {
            color: #838383;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: -0.48px;

          } 

          .logo-info-content img {
            height:195px;
            width: 542px;
          }


          /* Previous summit */
          .previous-summit {
            display: flex;
            height: 508px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
          } 


          .previous-summit-inner {
            padding: 3rem 2rem 3rem 2rem;
          }

          .previous-summit-inner h2,p{
            text-align: center;
          }


          .previous-summit-inner .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
          }

          .gallery div figcaption {
            position: absolute;
            top: 40%;
            display: flex;
            flex-direction: column;
            z-index: 101;
            font-size: 17px;
            font-size: 900;
            color: var(--primary);
          }

         .date {
            font-size: 30px;
            text-align: center;
          }


           .gallery div img {
            width: 100%;
            /* height: 236px; */
          }
          .gallery .each-image {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .gallery .gallery-overlay {
            background-color: rgb(236, 67, 39, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
          }



          /* SPONSORS ECTION */
    .sponsors-section {
        padding: 1.5rem 0rem 1.5em 0rem;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sponsors-section-bg-color);
    }

    .sponsors {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .sponsors-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .sponsors-section-title{
        text-align: center;
        color: #8F8F91;
        font-size: 30px;
        line-height: 28px;
        letter-spacing: -0.3px;
    }

    .sponsors img {
        width: 100%;
        height: 65px;
    }

    

    footer {
        height: 245px;
        background-color: var(--primary);
        display: flex;
        align-items: center;
    }

    footer .credit {
        display: inline-flex;
        padding: 35px 120px;
        justify-content: center;
        align-items: center;

    }

    .credit.container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 75%;
    }

    .credit.container h4{
        color: #000;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.14px;
    }

    .credit.container p {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.56px
    }
    
    }

     



    /* PIONEERS SECTION */


    @media (width < 768px){
        #nav-banner {
            display: none;
        }
        h1 {
            font-size: 36px;
            font-weight: 900; 
            color: #ec4a2d;
            z-index: 3;
            text-align: center;
        }
          
        
          .navbar {
            padding-left: 10px;
            height: 100%;
            display: flex;
            flex-direction:row-reverse;
            align-items: center;
            justify-content: flex-end;
            gap:20%
          }
        
          .nav-items {
            font-size: large;
            top:0;
            left: 0;
            right: 0;
            position: fixed;
            padding: 52px 12px  32px 12px;
            background: rgb(34, 32, 3);
            z-index: 100;
            visibility: hidden;
          }
        
          .header-nav-active {
            visibility: visible;
          }
        
          .hamburger-btn {
            background: none;
            border: none;
            border-style: none;
            padding: 1rem;
            padding-right: 6%;
            cursor: pointer;
            z-index: 101;
            background: none;
            display: block;
            display: flex;
            align-self: center;

          }

          .header-toggle {
            width: 31px;
            height: 23px;
          }
        
          .header-list {
            padding: 32px 16px;
            display: grid;
            gap: 14px;
          }
        
          .header-list-item {
            font-size: 32px;
            color: white;
            font-weight: 600;
          }

          
          
          .headline {
            display: inline-flex;
            width: 100%;
            min-height: 451px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
            background-size: cover;
            position: relative;
          }

          .headline .overlay {
            top: 0;
            left: 0;
            right: 0;
            background-color:rgb(255, 255, 255,0.95);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 0;
        }

          .hero-content {
            /* padding-top: 6rem;
            padding-bottom: 4rem; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: auto;
            z-index: 4;
          }

          .hero-content .about-text {
            background-color: var(--primary);
            padding:1rem;
            z-index: 5;
          }

          .about-text p {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
          }

          .hero-content div p {
            text-align: center;
          }

          .contact  p {
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
          }

          .contact a{
            color: #5F5F5F;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 25px;
            letter-spacing: 0.34px;
            text-decoration-line: underline;
          }

          


          /* logo info */
          .logo-info {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            gap: 10px;
          }

          .logo-info-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;
            width: 76%;
            margin: auto;
          }

          .logo-info-content h2 {
            color: #2C2C2C;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.9px;
            text-align: center;
            padding: 1rem 0rem 1rem 0rem ;
            width: 70%;
          }

          .logo-info-content p {
            color: #838383;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: -0.48px;

          } 

          .logo-info-content img {
            height:120px;
            max-width: 370px;
          }


          /* Previous summit */
          .previous-summit {
            display: flex;
            min-height: 348px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 2rem;
            padding-bottom: 2rem;
            gap: 35px;
          } 


          .previous-summit-inner {
            padding: 1rem 2rem 1rem 2rem;
          }

          .previous-summit-inner h2,p{
            text-align: center;
          }


          .previous-summit-inner .gallery {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
          }

          .gallery div figcaption {
            position: absolute;
            top: 40%;
            display: flex;
            flex-direction: column;
            z-index: 101;
            font-size: 17px;
            font-size: 900;
            color: var(--primary);
          }

         .date {
            font-size: 30px;
            text-align: center;
          }


           .gallery div img {
            width: 100%;
            /* height: 236px; */
          }
          .gallery .each-image {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .gallery .gallery-overlay {
            background-color: rgb(236, 67, 39, 0.7);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
          }



          /* SPONSORS ECTION */
      /* SPONSORS ECTION */
      .sponsors-section {
        padding: 1.5rem 0rem 1.5em 0rem;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--sponsors-section-bg-color);
    }

    .sponsors {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .sponsors-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .sponsors-section-title{
        text-align: center;
        color:var(--primary);
        font-size: 30px;
        line-height: 28px;
        letter-spacing: -0.3px;
    }

    .sponsors img {
        width: 82px;
        height: 31px;
    }

    

    

    footer {
        height: 245px;
        background-color: var(--primary);
        display: flex;
        align-items: center;
    }

    footer .credit {
        display: inline-flex;
        padding: 35px 120px;
        justify-content: center;
        align-items: center;

    }

    .credit.container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 75%;
    }

    .credit.container h4{
        color: #000;
        font-size: 10px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.14px;
    }

    .credit.container p {
        color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.56px
    }
  }


    
  
    
    