:root {
  --primary: #fff;
  --nav-banner: #3e3e3e;
  --nav-text-hover: #f07f7e;
  --nav-text-active: #ec6361;
  --nav-text-color: #868686;
  --hero-text-color: #515151;
  --hero-date-color: #595959;
  --program-section: #282b32;
  --program-section-card-bg-color: rgb(59, 62, 69, 0.5);
  --program-section-card-title: #ff5438;
  --pioneers-section-bg-color: #f8f8f8;
  --pioneer-profile-text-color: #f78c89;
  --sponsors-section-bg-color: #414246;
  --footer-bg-color: #f2f2f2;
  --button-bg-color: #05aae1;
}

body {
  width: 100vw;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: fixed;
  z-index: 1000;
}

.nav-items .nav-link {
  color: var(--nav-text-color);
}

.nav-items .nav-link:hover {
  color: var(--nav-text-hover);
}

.nav-items .nav-link.active {
  color: var(--nav-text-active);
}

.nav-items .nav-link.cc-campaign {
  color: #ec4327;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 5px solid #ec4327;
  padding: 0.5rem 0.25rem  0.5rem 0.25rem;
}

.navbar-container {
  background-color: var(--primary);
  position: fixed;
  width: 100vw;
}

@media (width > 768px) {
  h1 {
    font-size: 70px;
    font-weight: 900;
    background-image: url("/assets/photos/text.jpg");
    background-position: center;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
  }

  .screen-width {
    width: 80vw;
    margin: auto;
    position: relative;
  }

  header > #nav-banner {
    height: 30px;
    background-color: var(--nav-banner);
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    padding-top: 5px;
  }

  .nav-banner-list ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    font-size: 12px;
    color: var(--primary);
    align-items: center;
    flex-shrink: 0;
  }

  .nav-banner-list ul li a {
    color: var(--primary);
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 75px;
    z-index: 1000;
  }

  #navbrand {
    width: 130px;
    height: 51px;
  }

  .navbar .nav-items {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .navbar .hamburger-btn {
    display: none;
  }

  /* headline section */
  .headline {
    background-color: var(--primary);
    background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
    min-height: 500%;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: -2;
    display: inline-flex;
    align-items: center;
    padding-top: 6rem;
  }

  .headline .overlay {
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    min-height: 100%;
    width: 100%;
    z-index: -1;
  }

  .headline .content {
    padding: 6rem 20% 6rem 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
  }

  .headline .content .page-title {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .content .page-title h2 {
    color: #ec4327;
  }

  .content .sub-mission {
    padding: 2rem;
    border: 8.497px solid white;
  }

  .content .meetup-date h2 {
    font-weight: 900;
    color: #595959;
    font-size: 42.484px;
    line-height: normal;
    letter-spacing: -3.399px;
  }

  .content .meetup-date p {
    line-height: 36px;
    font-weight: 700;
    color: #868686;
    font-size: 27.614px;
    letter-spacing: -0.552px;
  }

  /* program section */
  .programs-section {
    background-color: var(--program-section);
    display: inline-flex;
    padding: 3rem 0 3rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/photos/pattern_bg.png");
  }

  .programs-section .program-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .program-content .card-header {
    color: white;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.3px;
    padding: 0.5rem;
  }

  .program-content .card-footer {
    color: white;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    text-decoration-line: underline;
  }

  .program-content .program-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .program-details .program-card {
    background-color: var(--program-section-card-bg-color);
    display: flex;
    padding: 6px 18px 22px 18px;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .program-card .card-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-inner .card-description {
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    height: 92px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .card-inner .card-title {
    color: var(--program-section-card-title);
  }

  .mobile-card-footer {
    display: none;
  }

  /* pioneers section */
  .pioneers-section {
    min-height: 900px;
    background-color: var(--primary);
  }

  .pioneers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #pioneers-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .pioneers-container .featured-speakers-header-title {
    color: #000;
    font-size: 30px;
    line-height: 23px;
    letter-spacing: -0.3px;
  }

  #pioneers-row .card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #pioneers-row .card-container img {
    max-height: 177px;
    max-width: 178px;
  }

  .about-pioneer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .about-pioneer .intro {
    color: #f78c89;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -1.35px;
    margin-bottom: unset;
  }

  .about-pioneer .description {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.7px;
  }

  .about-pioneer h3 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }

  /* SPONSORS ECTION */
  .sponsors-section {
    padding: 1.5rem 0 1.5em 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sponsors-section-bg-color);
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .sponsors-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .sponsors-section-title {
    text-align: center;
    color: #8f8f91;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .sponsors .sponsor-logo {
    width: 100%;
    height: 65px;
  }

  footer {
    height: 245px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
  }

  footer .credit {
    display: inline-flex;
    padding: 35px 120px;
    justify-content: center;
    align-items: center;
  }

  .credit.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 75%;
  }

  .credit.container h4 {
    color: #000;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.14px;
  }

  .credit.container p {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.56px;
  }

  .company-logo {
    width: 200px;
    height: 81px;
  }
}

/* mobile version */
@media (width < 768px) {
  #nav-banner {
    display: none;
  }

  h1 {
    font-size: 36px;
    font-weight: 900;
    background-image: url("/assets/photos/text.jpg");
    background-position: center;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
  }

  .navbar {
    padding-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 20%;
  }

  #navbrand {
    width: 120px;
    height: 45px;
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgb(27, 1, 23);
    z-index: 100;
    visibility: hidden;
  }

  .nav-items li a {
    padding-top: 0.5rem;
    font-size: 25px;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }

  .header-nav-active {
    visibility: visible;
  }

  .hamburger-btn {
    background: none;
    border: none;
    border-style: none;
    padding: 1rem;
    padding-right: 6%;
    cursor: pointer;
    z-index: 101;
    display: block;
    display: flex;
    align-self: center;
  }

  .header-toggle {
    width: 31px;
    height: 23px;
  }

  .header-list {
    padding: 32px 16px;
    display: grid;
    gap: 14px;
  }

  .header-list-item {
    font-size: 32px;
    color: white;
    font-weight: 600;
  }

  /* headline section */
  .headline {
    background-color: var(--primary);
    background-image: url("/assets/photos/michael-dziedzic-gEN5Btvf2Eg-unsplash.jpg");
    min-height: 500px;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .headline .overlay {
    background-color: rgb(255, 255, 255, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .headline .content {
    padding: 6rem 0 6rem 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 90%;
  }

  .headline .content .page-title {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .content .page-title h2 {
    color: #ec4327;
  }

  .content .sub-mission {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    border: 8.497px solid white;
  }

  .sub-mission p {
    color: #515151;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.12px;
  }

  .content .meetup-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content .meetup-date h2 {
    color: #595959;
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.6px;
  }

  .content .meetup-date p {
    color: #595959;
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -1.6px;
  }

  /* program section */
  .programs-section {
    background-color: var(--program-section);
    display: flex;
    padding: 3rem 0 3rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/photos/pattern_bg.png");
  }

  .programs-section .program-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .program-content .card-header {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.8px;
  }

  .program-content .card-footer {
    display: none;
  }

  .program-content .mobile-card-footer {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.16px;
    background-color: #ff4f38;
    padding: 20px 50px;
  }

  .program-content .program-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 0;
  }

  .program-details .program-card {
    background-color: var(--program-section-card-bg-color);
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .program-card .card-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .card-inner .card-description {
    color: #fff;
    font-size: 10.703px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.299px;
    letter-spacing: 0.642px;
    height: 82px;
    display: flex;
    align-items: center;
  }

  .card-inner .card-title {
    color: #ff5438;
    font-size: 14.271px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.975px;
    letter-spacing: -0.143px;
  }

  .card-inner img {
    padding-left: 5px;
    width: 57.085px;
    height: 51.733px;
  }

  .pioneers-section {
    min-height: 900px;
    background-color: var(--primary);
  }

  .pioneers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  #pioneers-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pioneers-container .featured-speakers-header-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -1px;
  }

  #pioneers-row .card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #pioneers-row .card-container img {
    max-height: 107px;
    max-width: 106px;
  }

  .about-pioneer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .about-pioneer .name {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .about-pioneer .intro {
    color: #f78c89;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 14.943px;
    letter-spacing: -0.2px;
    padding: unset;
    margin: unset;
  }

  .about-pioneer .description {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.7px;
  }

  .about-pioneer h3 {
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.54px;
  }

  /* SPONSORS ECTION */
  .sponsors-section {
    padding: 1.5rem 0 1.5em 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sponsors-section-bg-color);
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .sponsors-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .sponsors-section-title {
    text-align: center;
    color: #8f8f91;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  .sponsors .sponsor-logo {
    width: 82px;
    height: 31px;
  }

  footer {
    height: 100%;
    background-color: var(--primary);
    padding: 27px 25px;
  }

  footer .credit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .credit.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .credit.container .company-logo {
    width: 120px;
    height: 41px;
  }

  .credit-text h4 {
    color: #3b3e45;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.1px;
  }

